body {
    background-color: lightblue;
}

h3{
    color: cornflowerblue;
}

img {
    border-bottom: 2px thin white;
}

.jumbotron
{
    background:white
}

.breadcrumb{
    background: white
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}