@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mission Matters</h1>
    <p class="lead">Connecting past and future missionaries across the world!</p>
    <p><a href=@Url.Action("Missions", "Home") class="btn btn-primary btn-lg">Find Your Mission Here!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>See a list of available missions and past questions.</p>
        <p><a class="btn btn-default" href=@Url.Action("Missions", "Home")>Missions</a></p>
    </div>
    <div class="col-md-4">
        <p>Learn more about why Mission Matters... matters!</p>
        <p><a class="btn btn-default" href=@Url.Action("About", "Home")>About Us</a></p>
    </div>
    <div class="col-md-4">
        <p>Questions? Concerns? Contact us directly!</p>
        <p><a class="btn btn-default" href=@Url.Action("Contact", "Home")>Contact</a></p>
    </div>
</div>