
@{
    ViewBag.Title = "Missions";
}

<h2>Missions</h2>

<select id="list">
    <option value="">Pick a mission!</option>
    <option value=@Url.Action("Montreal", "Home")>Montreal Canada Mission</option>
    <option value=@Url.Action("Seoul", "Home")>Seoul Korea South Mission</option>
    <option value=@Url.Action("Lubbock", "Home")>Texas Lubbock Mission</option>
</select>

<script>
    document.getElementById("list").onchange = function() {
        if (this.selectedIndex!==0) {
            window.location.href = this.value;
        }
    };
</script>